# Folder
data
checkpoint
Data
__pycache__
wandb
cifar-100-python
Dataset
log*

# Image
*.jpg
*.csv
*.xlsx

# File
*.zip
*.tar
*.tar.gz
*.pdf

#WandB
*.wandb
*.log
*.patch
debug

#yaml
*.yaml

#json
*.json

#model
*.pt